section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 955px;
  width: 100%;
  height: 955px;
}
.card-weather {
  width: 336px !important;
  height: 520px !important;
  padding: 25px 20px;
  border-radius: 20px;
  margin-top: 100px;
  background-color: #fff7f7c7 !important;
}
.fa-map-marker {
  color:#000;
  font-size: 32px;
}
.card-header {
  display: flex;
  height: 68px !important;
}
.card-body {
  height: 300px;
}
.card-footer {
  height: 100px;
}
.card-header-text {
  text-align: left;
}
.location {
  height: 35px;
  margin-left: 12px;
}
input {
  border: none;
  width: 264px;
  background-color: #00000087 ;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
}
::placeholder {
   color: #fff;
}
.search-container {
  position: relative;
}
.fa-search {
  position: absolute;
  top: 6px;
  right: 9px;
  font-size: 21px;
  cursor: pointer;
}
input:focus {
  outline: none;
}
.fa-search {
  right: 8px;
  color: #fff;
}
img {
  width: 140px;
  margin-top: -25px;
}
.temperature {
  font-size: 60px;
  font-weight: 500;
  margin-top: 25px;
  color: #000;
  margin-bottom: 0;
}
.otherinformation {
  display: flex;
  justify-content: space-between;
}
.card-body img{
  margin-top: 20px;
}
.statusweather {
  margin-top: -10px;
  font-size: 22px;
  font-weight: 500;
  color: #000;
}
sup {
  font-size: 28px !important;
  top: -1.5em !important;
  right: 10px !important;
}
.humidtiy {
  width: 70px;
  margin-left: 8px;
}
.humidtiy i {
  font-size: 38px;
  color: #000;
  margin-top: 40px;
}
.windy {
  margin-right: 65px;
  margin-top: 3px;
  width: 70px;
}
.windy span {
color: #000;
  height: 88px;
  width: 103px;
  display: inline-block;
  margin-left: 9px;
  font-weight: 500;
}
.windy p {
color: #000;
  margin-bottom: -8px;
  margin-top: 36px;
  margin-left: 9px;
  font-weight: 700;
  width: 87px;
}
.title-date{
  font-size: 18px;
}
.humidtiy p {
color: #000;
  margin-bottom: 0;
  margin-top: 35px;
  font-weight: 700;
  font-size: 20px;
  height: 19px;
}
.humidtiy span {
color: #000;
  font-weight: 500;
}
.title {
  margin-top: 50px;
}
.svg-icon {
  font-size: 32px;
  fill: #000;
  margin-top: 38px;
}
@media only screen and (max-width: 576px) {
  section {
    height: 100vh;
  }
  .card-weather {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 390px) {
  .card-weather {
    width: 329px !important;
  }
  .humidtiy i {
    font-size: 32px;
    margin-top: 43px;
  }
  .svg-icon {
    font-size: 28px;
    margin-top: 41px;
  }
  .windy p {
    margin-left: 0px;
  }
  .windy span {
    margin-left: -3px;
  }
}

@media only screen and (max-width: 370px) {
  .card-weather {
    width: 310px !important;
  }

  input {
    width: 242px;
  }
}

@media only screen and (max-width: 350px) {
    .card-weather {
      width: 292px !important;
    }
    input {
      width: 224px;
    }
  }

  @media only screen and (max-width: 320px) {
    .card-weather {
      width: 292px !important;
    }
    input {
      font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 315px) {
    .card-weather {
      width: 262px !important;
    }
    input {
        width: 191px;
      font-size: 15px;
    }
    .windy span {
        margin-left: 0px;
      }
  }
  